<!-- app/views/layouts/_navbar.html.erb-->
<nav style="background-color:333; padding: 0 px;">
    <ul style="background-color: #333; padding:10px; margin:0; display: flex; gap: 15px;">
        <%= link_to "Home", root_path, style: "color: white; text-decoration: none;" %>
        <%= link_to "Create New Profile", new_profile_path, style: "color: white; text-decoration: none;" %>
    </ul>
</nav>